<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Course:</b>
  <%= @profile.course %>
</p>

<p>
  <b>Bio:</b>
  <%= @profile.bio %>
</p>

<p>
  <b>Visible to everyone on the site (instead of only the events you 
    subscribe to):</b>
  <%= @profile.visible %>
</p>

<%= link_to 'Home', calendars_path %>
<%= link_to 'Edit', edit_profile_path(@profile) %>


