<p id="notice"><%= notice %></p>

<p>
  <b>Athena:</b>
  <%= @user.athena %>
</p>

<%= render 'memberships/index', user_id: @user.id %>

<%= link_to 'Home', calendars_path %> | 
<%= link_to 'Change password', edit_user_path(@user) %>
