<p id="notice"><%= notice %></p>

<p>
  <b>Athena:</b>
  <%= @user.athena %>
</p>

<%= link_to 'Create Profile', new_profile_path  %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
